/* Reset and Base Styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

/* Root Variables */
:root {
    --corfraca: #FFFADD;
    --cormaisforte: #A8E6CF;
    --cordafonte: #FFAEC0;
    --font: rgb(59, 58, 58);
}

/* General Element Styles */
body::-webkit-scrollbar {
    width: 1px;
    /* width of the entire scrollbar */
}

img {
    max-width: 100px;
}

span {
    color: var(--font);
    text-shadow: none;
}

/* Header */
header {
    background-color: var(--corfraca);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 5%;
}

header nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.logo {
    padding-top: 5%;
    padding-left: 10%;
}

.link-nav {
    color: var(--cordafonte);
    margin-right: 4%;
}

.link-nav:hover {
    color: #eb3e64;
}

/* Primeira Box */
.primeira-box {
    background-color: var(--cormaisforte);
    display: flex;
    justify-content: space-around;
    padding: 10%;
    color: var(--corfraca);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.box-imagem {
    margin: 5%;
}

.imagem {
    max-width: 400px;
    display: flex;
    border-radius: 70px;
}

.texto {
    display: flex;
    align-items: center;
}

.texto span {
    display: flex;
    font-size: 26px;
}

/* Segunda Box */
.segunda-box {
    background-color: var(--corfraca);
    display: flex;
    justify-content: space-around;
    padding: 10%;
    color: var(--cormaisforte);
}

.segunda-box div {
    align-items: center;
    display: flex;
    margin: 5%;
}

.segunda-box div span {
    font-size: 26px;
    display: flex;
}

.segunda-box div img {
    max-width: 400px;
    display: flex;
    border-radius: 70px;
}

/* Footer */
footer {
    background-color: var(--cormaisforte);
    display: flex;
    justify-content:baseline;
    align-items: center;
    margin-top: auto;
}

footer div ul {
    display: flex;
}

footer div ul li {
    padding: 10%;
}

footer div ul li a img {
    max-width: 50px;
}

/* Modal */
#modal,
#modalReg {
    background-color: var(--corfraca);
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 20%;
    left: 40%;
}

#modal .reg,
#modalReg .reg {
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#modal div span,
#modalReg div span {
    font-size: 20px;
}

#modal div,
#modalReg div {
    display: block;
    text-align: center;
    align-items: center;
    margin: 1em;
}

.modal-input {
    margin: 0;
}

.modal-input div input {
    text-align: center;
    align-items: center;
    margin-top: 1em;
    margin-left: 2px;
    padding: 5px;
    border-radius: 3px;
}

.modal-button button {
    padding: 3px;
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 10px;
    margin-left: 2px;
}

/* Utility Classes */
.minha-classe {
    filter: blur(3px);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

    .link-nav {
        font-size: 10px;
        display: flex;
    }

    header nav ul {
        margin: 0%;
        gap: 5px;
    }

    .logo {
        max-width: 50px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        padding-left:0;
    }

    .primeira-box,
    .segunda-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
    }

    .segunda-box {
        flex-direction: column-reverse;
    }

    .imagem {
        width: 50vw;
        padding-bottom: 3rem;
    }

    span {
        font-size: 30px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer div ul li {
        display: flex;
        translate: -60%;
    }
}


/* LOGIN */

.abrir {
    display:flex ;
}


body {
    background-color: #A8E6CF;
}
.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.registro h3 {
    margin: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin-bottom: 100px;
}
.registro div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registro div div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.registro div span {
    font-size: 20px;
    padding: 5px auto;
}

.registro div input {
    padding: 3px auto;
}

.registro div button {
    padding: 5px;
    max-width: 70px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;

}

.registro-footer {
    background-color: #FFFADD;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.login {
    background-color: #A8E6CF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: none;
}

.login h3 {
    margin: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.login div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.login div div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.login div span {
    font-size: 20px;
    padding: 5px auto;
}


.login div input {
    padding: 3px auto;
}

.login div button {
    padding: 5px;
    max-width: 70px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;

}